.productWrapper {
  margin: 0 15px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  max-width: 1300px; /*1200*/
}

.imageContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  margin: 0;
}

.textContainer {
  width: 90%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.textContainer h1 {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.imageStyle {
  object-fit: cover;
  border-radius: 0.5rem;
}

.productDescription {
  margin-bottom: 24px;
  text-align: justify;
  line-height: 1.75;
}

.featureBox {
  background-color: var(--supporting-color-gray);
  padding: 16px;
  border-radius: 8px;
  width: 100%;
}

.featureBox ul {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 14px;
}

.featureBox ul li {
  padding: 0 16px 0 0;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: var(--charcoal);
  text-align: justify;
  line-height: 2;
}

.featureBox ul li > span {
  padding: 0 10px 0 0;
}

.featureBox ul li:first-child {
  margin-top: 14px;
}

.featureBox ul li:last-child {
  margin-bottom: 14px;
}
.featureBox ul li::before {
  content: " ";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--primary-color-light);
  border-radius: 50%;
}

.notFoundContainer {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundText {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}

@media (min-width: 1500px) {
  .productWrapper {
    margin: 0 30px 0 60px;
    gap: 60px;
    flex-direction: row;
    margin: 0 30px;
  }
  .imageContainer {
    margin: 50px 60px 0 0;
    width: 45%;
  }
  .textContainer {
    width: 55%;
  }
}
