.faqPageWrapper {
  background-color: var(--faq-background);
  display: flex;
  flex-direction: column;
}
.noResults {
  text-align: center;
  padding: 40px;
  color: var(--gray-500);
  font-size: 16px;
  font-weight: 400;
}

.faqBannerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 20vw;
  z-index: 1;
  opacity: 0.9;
  overflow: hidden;
}

.faqBannerBackground svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerWrapper {
  position: relative;
  background: linear-gradient(
    90deg,
    #6f3c78 0%,
    #86508e 35%,
    #95599e 65%,
    #c77dff 100%
  );
  margin: var(--header-height) 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerContent {
  /* position: absolute;
  top: 50%;
  z-index: 2; */
  width: 100%;
  position: relative; /* Change from absolute to relative */
  z-index: 2;
  transform: none; /* Remove transform */
  top: auto; /* Remove top positioning */
  padding: 40px 0; /* Add padding instead */
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: var(--header-color);
  margin-bottom: 30px;
  text-align: center;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  width: 100%;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.searchInputWrapper {
  position: relative;
  flex: 1;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 12px 44px 12px 16px;
  border-radius: 12px;
  border: 1px solid var(--platinum-gray);
  outline: none;
  font-size: 14px;
  padding: 10px;
  height: 45px;
}

.clearButton {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  color: var(--primary-color-dark);
  padding: 0;
}

.clearButton:hover {
  color: var(--rich-black);
}

/* :dir(rtl) .clearButton {
  right: 12px;
  left: auto;
}

:dir(rtl) .searchInput {
  padding-right: 44px;
  padding-left: 16px;
} */

.desktopSearch {
  display: block;
}
.mobileSearch {
  display: none;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin: 24px auto 0;
}
.loadMore {
  background-color: var(--faq-card);
  color: var(--rich-black);
  border: none;
  border-radius: 12px;
  padding: 12px 32px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loadMore:hover {
  opacity: 0.85;
}

.noFaq {
  text-align: center;
  padding: 40px;
  color: var(--gray-500);
  font-size: 18px;
  font-weight: 300;
}

@media (max-width: 500px) {
  .searchInputWrapper {
    width: 100%;
  }
  .desktopSearch {
    display: none;
  }
  .mobileSearch {
    display: block;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .searchWrapper {
    display: flex;
    max-width: 420px;
    margin: 0 auto 32px;
  }
}
