.faqPageWrapper {
  background-color: var(--faq-background);
}

.title {
  font-size: 32px;
  font-weight: 500;
  color: var(--rich-black);
  margin-bottom: 30px;
  text-align: center;
}

.container {
  padding: 0 !important;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin: 24px auto 0;
}

.loadMore {
  background-color: var(--faq-card);
  color: var(--rich-black);
  border: none;
  border-radius: 12px;
  padding: 12px 32px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loadMore:hover {
  opacity: 0.85;
}

.noFaq {
  text-align: center;
  padding: 40px;
  color: var(--gray-500);
  font-size: 18px;
  font-weight: 300;
}

.searchWrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  width: 100%;
  /* margin: 0 auto 32px; */
  margin-bottom: 32px;
  align-self: center;
}

.searchInputWrapper {
  position: relative;
  flex: 1;
  width: 100%;
}

/* input */
.searchInput {
  /* width: 300px; */
  width: 100%;
  padding: 12px 44px 12px 16px; /* space for clear button */
  border-radius: 12px;
  border: 1px solid var(--platinum-gray);
  outline: none;
  font-size: 14px;
  padding: 10px;
  height: 45px;
}

/* clear button inside input */
.clearButton {
  position: absolute;
  left: 18px; /* LEFT side */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: var(--card-color);
  font-size: 18px;
  cursor: pointer;
  color: var(--gray-500);
  padding: 0;
}

.clearButton:hover {
  color: var(--rich-black);
}

/* search button */
.searchButton {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  background-color: var(--faq-card);
  cursor: pointer;
  font-size: 14px;
  color: var(--foreground);
}

.searchButton:hover {
  background-color: var(--primary-color-light);
  color: var(--pure-white);
}

/* :dir(rtl) .clearButton {
  right: 12px;
  left: auto;
}

:dir(rtl) .searchInput {
  padding-right: 44px;
  padding-left: 16px;
} */

.desktopSearch {
  display: block;
}
.mobileSearch {
  display: none;
}

@media (max-width: 500px) {
  .searchInputWrapper {
    width: 100%;
  }
  .searchButton {
    padding: 6px 10px;
    border: 1px solid var(--platinum-gray);
  }
  .desktopSearch {
    display: none;
  }
  .mobileSearch {
    display: block;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .searchWrapper {
    display: flex;
    gap: 8px;
    max-width: 420px;
    margin: 0 auto 32px;
  }
}
