.container {
  width: 100%;
  padding: 3rem 3.5rem;
}

.extraPadding {
  padding: 3rem 5rem;
}

@media (max-width: 640px) {
  .container {
    padding: 1.2rem !important;
    width: 95%;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
