.benefitsWrapper {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-top: 100px;
}

.contentWrapper {
  border-radius: 8px;
  max-width: 500px;
  padding: 20px 25px;
}

.contentWrapper h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--rich-black);
  margin-bottom: 30px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.bigImageContainer {
  width: 320px;
  height: auto;
  z-index: 2;
  border-radius: 8px 40px 8px 40px;
}
.bigImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 8px 40px 8px 40px;
}

.smallImageContainer {
  width: 200px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 103%;
  z-index: 0;
  border-radius: 8px 40px 40px 40px;
}
.smallImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 8px 40px 40px 40px;
}

.dots {
  margin: 5px 25px 0 0;
}

.benefitItem {
  color: var(--rich-black);
  font-size: 16px;
  margin-bottom: 14px;
}

@media (max-width: 640px) {
  .benefitItem {
    text-align: right;
  }
}

@media (max-width: 1200px) {
  .bigImageContainer {
    width: 300px;
  }
  .smallImageContainer {
    width: 160px;
    height: 180px;
  }
}

@media (max-width: 1000px) {
  .smallImageContainer {
    display: none;
  }
  .dots {
    /* margin: 0;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 280px;
    transform: rotate(90deg); */
    display: none;
  }
  .bigImageContainer img {
    border-radius: 8px;
  }
}

@media (max-width: 768px) {
  .benefitsWrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }
  .contentWrapper {
    padding: 20px 0;
  }
  .contentWrapper h2 {
    font-size: 28px;
    /* margin: 0 auto 30px; */
    text-align: center;
  }

  .benefitItem {
    font-size: 14px;
  }
  .dots {
    display: none;
  }
}
