.benefitsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 100px;
}

.contentWrapper {
  border-radius: 8px;
  max-width: 500px;
  padding: 20px 25px;
  background-color: var(--off-white);
}

.contentWrapper h2 {
  font-size: 30px;
  font-weight: 500;
  color: var(--rich-black);
  margin-bottom: 30px;
}

.imageWrapper {
  width: 250px;
  height: auto;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.benefitItem {
  color: var(--rich-black);
}

@media (max-width: 640px) {
  .benefitItem {
    text-align: right;
  }
}
