.benefitsWrapper {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-top: 100px;
}

.contentWrapper {
  border-radius: 8px;
  max-width: 500px;
  padding: 20px 25px;
  background-color: var(--off-white);
}

.contentWrapper h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--rich-black);
  margin-bottom: 30px;
}

/* .contentWrapper h2:nth-of-type(2) {
  margin-bottom: 30px;
} */
.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.bigImageContainer {
  width: 350px;
  height: auto;
  z-index: 2;
  border-radius: 8px;
}
.smallImageContainer {
  width: 200px;
  height: 220px;
  position: absolute;
  top: 52%;
  left: 103%;
  z-index: 0;
  border-radius: 8px;
}

.bigImageContainer img,
.smallImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.dots {
  margin: 5px 25px 0 0;
}

.benefitItem {
  color: var(--rich-black);
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  .benefitItem {
    text-align: right;
  }
}
