.breadcrumb {
  background-color: inherit;
  font-size: 16px;
}
.breadcrumb ol {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 4px;
}

.breadcrumbLink {
  display: flex;
  gap: 6px;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--dusty-gray);
}

.breadcrumb a:hover {
  color: var(--primary-color);
}

.breadcrumb span {
  margin: 0 5px;
  color: var(--dusty-gray);
}
