.title {
  font-size: 1.6rem;
}

@media (min-width: 1300px) {
  .title {
    font-size: 2.25rem;
  }
}

@media (max-width: 640px) {
  .sectionTitleContainer {
    padding: 0; /* Override padding on small screens */
  }
}
