.wrapper {
  padding: 20px 0;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.headerTitle {
  font-size: 1.5rem; /* Smaller font size for mobile */
  font-weight: 500;
}

/* Navigation Buttons */
.headerIndicators {
  display: none; /* Hidden by default for mobile */
}

.headerIndicators .navigatorSvg {
  width: 24px;
  height: 24px;
  stroke: #333;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 2rem;
  }

  .headerIndicators {
    display: flex;
    gap: 10px;
    direction: ltr;
  }
}
