.boxWrapper {
  background-color: var(--card-color);
  border-radius: 25px;
  display: grid;
  gap: 20px;
  grid-template-rows: auto 5fr;
  height: 100%;
  min-height: 240px;
  padding: 20px 25px 27px 25px;
  width: 100%;
}

.boxDescription {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  text-align: unset;
  list-style-type: disc;
  padding: 0 10px;
}
.boxWrapper ul li {
  list-style-position: inside;
  color: var(--gray-700);
}

.boxContainer {
  align-items: center;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
}

.boxContainer img {
  border-radius: 50%;
  max-width: 100%;
  display: block;
}

.boxTitle {
  color: var(--brown-dark);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 113%;
  margin-bottom: 15px;
}

.boxSubtitle {
  color: #686a6c;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;
  text-align: center;
}

/*---------*/
.companyWrapper p {
  line-height: 3;
  font-size: 16px;
  text-align: justify;
}

.personsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: 50px 0 30px;
}

@media (min-width: 768px) {
  .personsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 70px 0 50px;
  }
}

@media (min-width: 1000px) {
  .personsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 80px 0 60px;
  }

  .boxDescription {
    padding: 0 70px;
    text-align: justify;
  }
}
