.collectionWrapper {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--pure-white);
  transition: all 0.5s ease-in-out;
}

.imageWrapper {
  width: 100%;
  height: 300px;
}
.collectionWrapper:hover .imageWrapper img {
  transform: translateY(-1px) scale(1.02);
}

.imageWrapper img {
  display: block;
  transition: transform 0.3s ease;
}

.boxTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--charcoal);
  margin-bottom: 12px;
}
.contentWrapper {
  padding: 20px;
}

.contentWrapper > p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.viewMore {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
  color: var(--medium-gray);
  position: absolute;
  left: 16px;
  bottom: 16px;
  transition: all 0.5s ease-in-out;
}
.viewMore span {
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.viewMore span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.collectionWrapper:hover .viewMore span {
  padding-left: 20px;
  color: var(--primary-color-light);
}
.collectionWrapper:hover .viewMore span:after {
  opacity: 1;
  left: 0;
  color: var(--primary-color-light);
}

@media (min-width: 768px) {
  .cardTitle {
    font-size: 18px;
  }
}
