.faqWrapper {
  margin-top: 170px;
  padding: 60px 0;
  background-color: var(--faq-background);
}
.faqContainer {
  max-width: 42rem;
  margin: 0 auto;
}
.title {
  font-size: 32px;
  font-weight: 500;
  color: var(--rich-black);
  margin-bottom: 30px;
  text-align: center;
}

/* .container {
  padding: 0 !important;
} */

.viewAll {
  text-align: left;
}
.viewAll a {
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 18px;
  border-radius: 18px;
  display: inline-block;
  transition: all 150ms linear;
  text-decoration: none;
  width: auto;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.viewAll:hover a {
  background-color: var(--primary-color);
  color: var(--pure-white);
}

@media (max-width: 768px) {
  .faqWrapper {
    margin-top: 0;
  }
  .viewAll {
    width: 90%;
    margin: 0 auto;
  }
  .viewAll a {
    width: 100%;
    text-align: center;
  }
}
