.mainSliderWrapper {
  direction: ltr;
  position: relative;
}

.sliderControls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  gap: 10px;
  direction: ltr;
}

.sliderControls button {
  background: none;
  border: none;
  cursor: pointer;
  border: 1px solid var(--ligth-secondary-color);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderControls button:hover {
  /* background-color: var(--primary-color); */
  border: 1px solid var(--primary-color);
}

.sliderControls button svg {
  width: 24px;
  height: 24px;
}
.sliderControls .navDisable {
  background-color: transparent;
  border: 1px solid var(--supporting-color-gray);
}

@media (prefers-color-scheme: dark) {
  .headerIndicators button svg {
    stroke: var(--pure-white-color);
  }
}

.mainSliderPagination [class*="swiper-pagination-bullet"] {
  background-color: var(--ligth-secondary-color);
  width: 15px;
  height: 8px;
  border-radius: 4px;
  opacity: unset;
}
.mainSliderPagination [class*="swiper-pagination-bullet-active"] {
  background-color: var(--primary-color);
  width: 30px;
  height: 8px;
}

.mainSliderPagination {
  direction: ltr;
  position: absolute;
  width: 15rem !important;
  left: 72px !important;
  bottom: 36px !important;
  z-index: 10;
}

@media (max-width: 767px) {
  .sliderControls button {
    border: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
  }

  .sliderControls svg {
    width: 15px;
    height: 15px;
  }
  .sliderControls button:hover {
    background-color: transparent;
    border: none;
  }
  .mainSliderPagination {
    display: none;
  }
}
