.footerContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.slugWrapper {
  width: 100%;
}

.slugWrapper div:nth-child(2) {
  padding-left: 60px;
}

.socialLinks {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.socialLinks a svg:hover {
  transform: scale(1.1);
  animation: fill-gradient 0.5s ease-in-out forwards;
}

@media (min-width: 1024px) {
  .footerContainer {
    gap: 3rem;
    grid-template-columns: 2fr 1fr 1fr;
  }
}

@keyframes fill-gradient {
  0% {
    fill: currentColor;
  }
  100% {
    fill: var(--primary-color);
  }
}
