.heroWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}
.imageWrapper {
  width: 100%;
}
.imageContainer {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}
.imageContainer img {
  object-fit: cover;
  height: 400px;
}

.descriptionWrapper {
  width: 100%;
  height: 100%;
}

.descriptionContainer {
  background-image: linear-gradient(
    349deg,
    var(--supporting-color-gray) 0%,
    var(--wood-color) 50%,
    var(--darker-wood-color) 100%
  );

  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 50px;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.descriptionContainer h1 {
  font-size: 28px;
  font-weight: 500;
}

.fancy {
  color: var(--neutral-white-color);
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='400' viewBox='0 0 800 400'%3E%3Cpath fill='%23f4f4f4' d='M0 0h800v400H0z'/%3E%3Cg fill='%23eab464' opacity='0.6'%3E%3Cpath d='M200 0v200L0 0zm400 0v200L200 0zm200 0v200L400 0z'/%3E%3Cpath d='M0 400V200l200 200zm400 0V200l-200 200zm200 0V200l-200 200z'/%3E%3C/g%3E%3C/svg%3E");

    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.descriptionContainer h2 {
  font-size: 16px;
  font-weight: 200;
}

.descriptionContainer p {
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}
.viewProducts {
  width: 100%;
}

.viewProducts a {
  display: inline-block;
  background: var(--accent-color-gold);
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid var(--accent-color-gold);
  color: var(--darker-wood-color);
  /* color: var(--primary-dark-color); */
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 1;
  width: auto;
  min-width: 220px;
  text-align: center;
  margin-top: 30px;
}

.viewProducts a:hover {
  background: transparent;
  color: var(--dark-wood-color);
  border-color: var(--accent-color-gold);
}

@media (max-width: 768px) {
  .heroWrapper {
    flex-direction: column-reverse;
  }
}

@media (min-width: 426px) {
  .viewProducts {
    width: 220px;
  }
}

@media (min-width: 990px) {
  .heroWrapper {
    height: 500px;
  }
  .descriptionWrapper {
    width: 33.333333%; /* 1/3 */
  }
  .descriptionContainer {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 42rem; /* 672px */
  }
  .descriptionContainer p {
    text-align: inherit;
  }
  .imageWrapper {
    width: 66.666667%; /* 2/3 */
  }
  .imageContainer {
    height: 100%;
  }
  .imageContainer img {
    height: 500px;
  }
  .ml-negative-10 {
    margin-left: -10%;
  }
  .descriptionWrapper {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */
    clip-path: url(#pology-clip-left);
  }
}

/* Large screen */
@media (min-width: 1024px) {
  .descriptionContainer h1 {
    font-size: 36px;
  }
  .descriptionContainer h2 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .descriptionContainer h1 {
    font-size: 45px;
  }
}

/* Extra large screen */
@media (min-width: 1320px) {
  .descriptionContainer h1 {
    font-size: 50px;
  }
  .descriptionContainer h2 {
    font-size: 20px;
  }
}

/* it is not work check */
@media (prefers-color-scheme: dark) {
  /* .descriptionContainer {
    background-image: linear-gradient(
      135deg,
      #a37535 0%,
      var(--medium-brown-color) 5%,
      var(--light-brown-color) 10%,
      var(--light-tan-color) 40%,
      var(--creamy-white-color) 100%
    );
  } */

  /* .descriptionContainer h1,
  .descriptionContainer h2,
  .descriptionContainer p {
    color: var(--accent-color-blue) !important;
  } */
}
