.popupWidgetWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxWrapper {
  position: fixed;
  z-index: 1001; /* one more than navbar.scrollable*/
  width: 350px;
  max-height: calc(100vh - 120px); /* check */
  top: auto;
  right: 1.25rem;
  left: auto;
  bottom: 100px;

  /* Shadow styles */
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  /* Border styles */
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.375rem;
}

.popupButton {
  background-color: var(--primary-color);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.titleWrapper h3 {
  color: var(--pure-white);
}

.submitButton {
  width: 100%;
  color: var(--pure-white);
  background-color: var(--primary-color);
}

.submitButton:hover,
.submitButton:focus {
  background-color: var(--primary-color-dark);
  outline: none;
}

/* Mobile styles */
@media (max-width: 639px) {
  .boxWrapper {
    position: relative;
    max-height: none;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
}
