@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-dark-gray;
  }
}

/* دکمه‌های ثانویه */
.secondary-button {
  background: transparent;
  color: var(--primary-purple);
  border: 2px solid var(--primary-purple);
}

/* کارت محصولات */
.product-card {
  background: var(--pure-white);
  border: 1px solid var(--light-gray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:root {
  /* primary  */
  /* --primary-color: #905a98;
  --primary-color-dark: #7a4a82;
  --primary-color-light: #a87ab0; */

  /* Current: #905a98 */
  --primary-color: #86508e;
  --primary-color-dark: #77477e;
  --primary-color-light: #95599e;

  --earth-brown: #9b5b1e;
  --earth-brown-dark: #834c15;
  --earth-brown-light: #b37235;

  /* Dark Neutrals */
  --charcoal: #2d3748; /*  متن‌ها */
  --dark-gray: #4a5568; /*  متن ثانویه */
  --medium-gray: #718096; /*  متن غیرفعال */

  /* Light Neutrals */
  --light-gray: #edf2f7; /* پس‌زمینه‌های روشن */
  --off-white: #f8f9fa; /* پس‌زمینه اصلی */
  --pure-white: #ffffff; /*  قسمت‌های خاص */

  /* Accent */
  --accent-gold: #d4af37; /*   هایلایت */
  --accent-teal: #2d9cdb; /*   لینک‌ها */
  --success-green: #38a169;
  --accent-color-blue: #4a5f73;
  --accent-color-blue-dark: #3a4a5c;
  --accent-color-gray-dark: #a6a6a6;

  --light-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

  --transition-400: 0.4s ease;
}

.dark .dark\:bg-dark-gray {
  background-color: var(--charcoal);
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
}

.animateFadeInUp {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.3s ease, transform 1.3s ease;
}

.animateFadeInUp.animate {
  opacity: 1;
  transform: translateY(0);
}

/* text gradient hover */

.textGradientEffectForLightMode,
.textGradientEffectForDarkMode {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.8s ease-in-out;
}
.textGradientEffectForLightMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--accent-color-blue) 50%
  );
}

.textGradientEffectForDarkMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--off-white) 50%
  );
}

.textGradientEffectForLightMode:hover,
.textGradientEffectForDarkMode:hover {
  background-position: 0%;
}

h1,
h2,
h3 {
  color: var(--accent-color-blue-dark);
}

h4 {
  color: var(--dark-gray);
}

p {
  color: var(--medium-gray);
}

a {
  color: var(--accent-color-blue);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pageWrapper h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
}

.pageHeight {
  min-height: 80vh;
}

@media (min-width: 481px) and (max-width: 767px) {
  .pageWrapper h1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .pageWrapper h1 {
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  .pageWrapper h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

/*-----*/

.group:hover circle {
  stroke-dashoffset: 0 !important;
}

.lightShadow {
  box-shadow: var(--light-shadow);
}
