@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-dark-gray;
  }
}

:root {
  --primary-color: #905a98;

  /* Vibrant Accent Color */
  --vibrant-purple: #7e3f8f;

  /* Secondary Colors */
  --dark-secondary-color: #6a4c6f;
  --ligth-secondary-color: #b695b9;
  --ligther-secondary-color: #e9d5eb;

  /* Accent Colors */
  --accent-color-blue: #4a5f73;
  --accent-color-blue-dark: #3a4a5c;
  --accent-color-gray-dark: #a6a6a6;
  --accent-color-gray-darker: #808080;
  --accent-color-gray-light: #718096;
  --accent-color-gray-lighter: #cbd5e1;
  --accent-color-gray: #e2e8f0;
  --border-color: #e5e7eb;

  /* Supporting Colors */
  --supporting-color-gray: #f4f4f4;
  --supporting-color-lavender: #e0d4e1;

  /* Neutral Colors */
  --pure-white-color: #fff;
  --neutral-white-color: #d1d7e0;
  --off-white-color: #f7f7fa;
  --darker-gray-color: #171717;
  --dark-gray-color: #151b23;
  --dark-mode-card-bg: #23272e;

  --light-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

  --dark-accent-color: #b695b9;
}

.dark .dark\:bg-dark-gray {
  background-color: var(--dark-gray-color);
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--off-white-color);
}

.animateFadeInUp {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.3s ease, transform 1.3s ease;
}

.animateFadeInUp.animate {
  opacity: 1;
  transform: translateY(0);
}

/* text gradient hover */

.textGradientEffectForLightMode,
.textGradientEffectForDarkMode {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.8s ease-in-out;
}
.textGradientEffectForLightMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--accent-color-blue) 50%
  );
}

.textGradientEffectForDarkMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--neutral-white-color) 50%
  );
}

.textGradientEffectForLightMode:hover,
.textGradientEffectForDarkMode:hover {
  background-position: 0%;
}

h1,
h2,
h3 {
  color: var(--accent-color-blue-dark);
}

h4 {
  color: var(--accent-color-gray-darker);
}

p {
  color: var(--accent-color-gray-light);
}

a {
  color: var(--accent-color-blue);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pageWrapper h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
}

.pageHeight {
  min-height: 80vh;
}

@media (min-width: 481px) and (max-width: 767px) {
  .pageWrapper h1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .pageWrapper h1 {
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  .pageWrapper h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

/*-----*/

.group:hover circle {
  stroke-dashoffset: 0 !important;
}

.lightShadow {
  box-shadow: var(--light-shadow);
}
