@tailwind base;
@tailwind components;
@tailwind utilities;

/* دکمه‌های ثانویه */
.secondary-button {
  background: transparent;
  color: var(--primary-purple);
  border: 2px solid var(--primary-purple);
}

.product-card {
  background: var(--pure-white);
  border: 1px solid var(--light-gray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:root {
  /* Light mode defaults */
  --background: #f8f9fa;
  --foreground: #0d1f22;
  --header-color: #f9f9f9f2;
  --card-color: #fff;
  --footer-color: #0d1f22;

  --primary-color: #86508e;
  --primary-color-dark: #77477e;
  --primary-color-light: #95599e;

  --earth-brown: #a47f51;
  --accent-gold: #d4af37;
  --brown-light: #a38c75;
  --brown-dark: #3e3a36;
  --brown-medium: #665a4d;

  --sea-green: #588e50;
  --lapis-lazuli: #035e7b;
  --moon-stone: #46acc2;
  /* text */
  --rich-black: #0d1f22;
  --slate-gray: #6b7280;
  --silver-chalice: #a6a6a6;
  --platinum-gray: #e2e2e2;
  --text-color: #3a558b;

  --dusty-gray: #616161;
  --gray-700: #616161;
  --gray-800: #424242;

  --off-white: #f8f9fa;
  --pure-white: #ffffff;

  /* Accent */
  --accent-teal: #2d9cdb; /*   لینک‌ها */
  --success-green: #38a169;
  --accent-color-blue: #4a5f73;

  --faq-background: #f0f2f5;
  --faq-card: #ffffff;

  /* footer: #1C1B19 */
  --title-color: #f2ede8;
  --subtitle-color: rgba(242, 237, 232, 0.7);

  --light-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

  --transition-400: 0.4s ease;
}

/* Automatic system dark mode */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #22272e;
    --foreground: #e2e8f0;
    --header-color: #212830f2;
    --card-color: #212830;
    --footer-color: #151b23;

    --primary-color: #9f7aea;
    --primary-color-dark: #805ad5;
    --primary-color-light: #b794f4;
    --earth-brown: #d69e2e;
    --accent-gold: #ecc94b;
    --brown-light: #cbd5e0;
    --brown-dark: #e2e8f0;
    --brown-medium: #a0aec0;
    --sea-green: #48bb78;
    --lapis-lazuli: #3182ce;
    --moon-stone: #63b3ed;
    --rich-black: #f7fafc;
    --slate-gray: #cbd5e0;
    --silver-chalice: #a0aec0;
    --platinum-gray: #4a5568;
    --text-color: #90cdf4;
    --dusty-gray: #718096;
    --gray-700: #9198a1;
    --gray-800: #2d3748;
    --off-white: #1a202c;
    --pure-white: #2d3748;
    --accent-teal: #38b2ac;
    --success-green: #48bb78;
    --accent-color-blue: #d1d7e0;

    --faq-background: #1e2228;
    --faq-card: #1a1e24;
  }
}
/* Manual dark mode override */
.dark {
  --background: #22272e;
  --foreground: #e2e8f0;
  --header-color: #212830f2;
  --card-color: #212830;
  --footer-color: #151b23;

  --primary-color: #9f7aea;
  --primary-color-dark: #805ad5;
  --primary-color-light: #b794f4;

  --earth-brown: #d69e2e;
  --accent-gold: #ecc94b;
  --brown-light: #cbd5e0;
  --brown-dark: #e2e8f0;
  --brown-medium: #a0aec0;

  --sea-green: #48bb78;
  --lapis-lazuli: #3182ce;
  --moon-stone: #63b3ed;

  --rich-black: #f7fafc;
  --slate-gray: #cbd5e0;
  --silver-chalice: #a0aec0;
  --platinum-gray: #4a5568;
  --text-color: #90cdf4;

  --dusty-gray: #718096;
  --gray-700: #9198a1;
  --gray-800: #2d3748;

  --off-white: #1a202c;
  --pure-white: #c9cbcc;

  --accent-teal: #38b2ac;
  --success-green: #48bb78;
  --accent-color-blue: #d1d7e0;

  --faq-background: #1e2228;
  --faq-card: #1a1e24;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background-color: var(--background);
}

.animateFadeInUp {
  opacity: 0;
  transform: translateY(50px);
  /* transition: opacity 1.3s ease, transform 1.3s ease; */
  transition: transform 0.9s cubic-bezier(0, 0.3, 0.3, 0.995),
    opacity 0.9s linear;
}

.animateFadeInUp.animate {
  opacity: 1;
  transform: translateY(0);
}

/* text gradient hover */

.textGradientEffectForLightMode,
.textGradientEffectForDarkMode {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.8s ease-in-out;
}
.textGradientEffectForLightMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--accent-color-blue) 50%
  );
}

.textGradientEffectForDarkMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--off-white) 50%
  );
}

.textGradientEffectForLightMode:hover,
.textGradientEffectForDarkMode:hover {
  background-position: 0%;
}

h1,
h2,
h3 {
  color: var(--rich-black);
}
h4 {
  color: var(--rich-black);
}
p {
  color: var(--gray-700);
}
a {
  color: var(--accent-color-blue);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-x: hidden;
}

.pageWrapper h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
}

.pageHeight {
  min-height: 80vh;
}

@media (min-width: 481px) and (max-width: 767px) {
  .pageWrapper h1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .pageWrapper h1 {
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  .pageWrapper h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

/*-----*/

.group:hover circle {
  stroke-dashoffset: 0 !important;
}

.lightShadow {
  box-shadow: var(--light-shadow);
}

/* --- swiper in ThumsGallery component --- */

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-slide {
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
