@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html,
  body {
    @apply dark:bg-dark-gray;
  }
} */

/* دکمه‌های ثانویه */
.secondary-button {
  background: transparent;
  color: var(--primary-purple);
  border: 2px solid var(--primary-purple);
}

/* کارت محصولات */
.product-card {
  background: var(--pure-white);
  border: 1px solid var(--light-gray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

:root {
  /* primary  */
  /* --primary-color: #905a98;
  --primary-color-dark: #7a4a82;
  --primary-color-light: #a87ab0; */

  /* Current: #905a98 */
  --primary-color: #86508e;
  --primary-color-dark: #77477e;
  --primary-color-light: #95599e;

  --earth-brown: #a47f51;
  --accent-gold: #d4af37;
  --brown-light: #a38c75;
  --brown-dark: #3e3a36;
  --brown-medium: #665a4d;

  --sea-green: #588e50;
  --lapis-lazuli: #035e7b;
  --moon-stone: #46acc2;
  /* text */
  --rich-black: #0d1f22;
  --slate-gray: #6b7280;
  --silver-chalice: #a6a6a6;
  --platinum-gray: #e2e2e2;
  --text-color: #3a558b;

  --dusty-gray: #616161;
  --gray-700: #616161;
  --gray-800: #424242;

  /* Light Neutrals */
  --off-white: #f8f9fa; /* پس‌زمینه اصلی */
  --pure-white: #ffffff; /*  قسمت‌های خاص */

  /* Accent */
  --accent-teal: #2d9cdb; /*   لینک‌ها */
  --success-green: #38a169;
  --accent-color-blue: #4a5f73;

  --light-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

  --transition-400: 0.4s ease;
}

/* .dark .dark\:bg-dark-gray {
  background-color: var(--);
} */

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
}

.animateFadeInUp {
  opacity: 0;
  transform: translateY(50px);
  /* transition: opacity 1.3s ease, transform 1.3s ease; */
  transition: transform 0.9s cubic-bezier(0, 0.3, 0.3, 0.995),
    opacity 0.9s linear;
}

.animateFadeInUp.animate {
  opacity: 1;
  transform: translateY(0);
}

/* text gradient hover */

.textGradientEffectForLightMode,
.textGradientEffectForDarkMode {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.8s ease-in-out;
}
.textGradientEffectForLightMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--accent-color-blue) 50%
  );
}

.textGradientEffectForDarkMode {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-color) 50%,
    var(--off-white) 50%
  );
}

.textGradientEffectForLightMode:hover,
.textGradientEffectForDarkMode:hover {
  background-position: 0%;
}

h1,
h2,
h3 {
  color: var(--rich-black);
}
h4 {
  color: var(--rich-black);
}
p {
  color: var(--dusty-gray);
}
a {
  color: var(--accent-color-blue);
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  overflow-x: hidden;
}

.pageWrapper h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
}

.pageHeight {
  min-height: 80vh;
}

@media (min-width: 481px) and (max-width: 767px) {
  .pageWrapper h1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .pageWrapper h1 {
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  .pageWrapper h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

/*-----*/

.group:hover circle {
  stroke-dashoffset: 0 !important;
}

.lightShadow {
  box-shadow: var(--light-shadow);
}

/* --- swiper in ThumsGallery component --- */

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-slide {
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
