.checkSvgImage {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  flex: 0 0 auto;
}

.benefitContainer {
  display: flex;
  gap: 5px;
  /* opacity: 0;
  animation: fadeInUp 1s ease forwards; */
}

/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@media (max-width: 640px) {
  .benefitContainer {
    text-align: right; /* check in english should be left*/
  }
}
