/* Gallery Slider */
.slider {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .slider {
    display: flex; /* Switch to flex for slider */
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }
}
