.navbarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: padding 2s, box-shadow 2s;
  padding: 20px 15px;
  position: relative;
}

.navbarWrapper.scrolled {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarWrapper.scrolledLight {
  background-color: rgba(249, 249, 249, 0.95);
}
.navbarWrapper.scrolledDark {
  background-color: rgba(43, 43, 43, 0.95);
}

.scrolledLogo {
  font-size: 1.5rem;
}

/* .dark .navbarWrapper.scrolled {
  background-color: rgba(0, 0, 0, 0.95); 
} */

.navItem a {
  width: 100%;
  min-width: 170px;
}

@media (min-width: 1200px) {
  .navbarWrapper {
    padding: 30px 70px;
  }
}

@media (min-width: 768px) {
  .navbarWrapper {
    padding: 30px 50px;
  }
}
