.navbarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: padding 2s, box-shadow 2s;
  padding: 20px 15px;
  position: relative;
}

.navbarWrapper.scrolled {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarWrapper.scrolledLight {
  background-color: rgba(249, 249, 249, 0.95);
}
.navbarWrapper.scrolledDark {
  background-color: rgb(33, 40, 48, 0.95);
  /* #212830; */

  /* rgba(43, 43, 43, 0.95); */
}

.scrolledLogo {
  font-size: 1.5rem;
}

.logoText {
  display: none;
}
/* .dark .navbarWrapper.scrolled {
  background-color: rgba(0, 0, 0, 0.95); 
} */

.navItem a {
  width: 100%;
  min-width: 170px;
}

@media (min-width: 1200px) {
  .navbarWrapper {
    padding: 30px 70px;
  }
}

@media (min-width: 768px) {
  .navbarWrapper {
    padding: 30px 50px;
  }
}

@media (min-width: 425px) {
  .logoText {
    display: block;
  }
}

/* Mobile menu styles for screens between 1024px and 500px */
@media (max-width: 1024px) and (min-width: 500px) {
  .mobileMenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background-color: rgba(249, 249, 249, 0.95);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 60px; /* Adjust based on your navbar height */
  }

  .mobileMenu.open {
    left: 0;
  }
}

/* Mobile menu styles for screens below 500px */
@media (max-width: 499px) {
  .mobileMenu {
    width: 100%;
    background-color: rgba(249, 249, 249, 0.95);
    /* padding-top: 60px;  */
    /* Adjust based on your navbar height */
  }
}
