.socialLinks {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.socialLinks a svg:hover {
  animation: fill-gradient 1s ease-in-out forwards;
}

@keyframes fill-gradient {
  0% {
    fill: currentColor;
  }
  100% {
    fill: var(--third-color);
  }
}
