.navContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.navLink {
  width: 100%;
  padding: 8px 16px;
  margin-left: -16px;
  border-radius: 6px;
  transition: all 300ms ease;
  text-decoration: none;
  display: block;
}

.navLink:hover {
  color: var(--primary-color);
  background-color: var(--pure-white);
  letter-spacing: 0.5px;
}

.navLink:focus {
  color: var(--primary-color);
  outline: none;
}

/* If you need responsive styles */
@media (max-width: 640px) {
  .navLink {
    padding: 10px 20px;
    margin-left: -12px;
  }
}
