.card {
  background-color: var(--card-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.cardSlider {
  flex: 0 0 335px;
}

.cardProduct {
  flex: 0 0 335px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 240px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardSlider .imageContainer {
  height: 240px;
}

.cardProduct .imageContainer {
  height: 260px;
}

.image {
  width: 100%;
  height: 100%;
  padding: 10px 0 15px;
  transition: transform 0.3s ease-in-out;
  object-fit: contain;
}

.imageContainer:hover .image {
  transform: scale(1.02);
}

.cardTitle {
  display: block;
  padding: 20px 10px;
  font-size: 18px;
  font-weight: 500;
  color: var(--rich-black);
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.card:hover .cardTitle {
  color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  .card {
    background: var(--rich-black) !important;
  }
}

/* Tablet Styles (768px to 899px) */
@media (max-width: 899px) and (min-width: 768px) {
  .cardSlider,
  .cardProduct {
    flex: 0 0 220px;
  }

  .imageContainer {
    height: 180px;
  }

  .cardTitle {
    font-size: 14px;
    padding: 15px 10px;
  }
}

/* Mobile Styles (767px and below) */
@media (max-width: 767px) {
  .cardSlider,
  .cardProduct {
    flex: none;
    width: 100%;
  }

  .imageContainer {
    height: 140px;
  }

  .cardTitle {
    font-size: 14px;
    padding: 10px;
  }
}
