/* Gallery Card (shared styles) */
.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background 0.3s ease;
  min-width: 150px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 120px; /* Default height for mobile */
  padding: 10px;
}

.imageContainer img {
  width: 100%;
  height: auto;
  padding: 10px 0 15px;
  transition: transform 0.3s ease-in-out;
}

.imageContainer:hover img {
  transform: scale(1.02);
}

.cardTitle {
  display: block;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--charcoal);
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.card:hover .cardTitle {
  color: var(--primary-color);
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .card {
    background: var(--charcoal) !important; /* Use the variable for dark mode */
  }
}

@media (min-width: 900px) {
  /* Fixed width for slider cards */
  .cardSlider {
    flex: 0 0 335px;
  }
  /* Fixed width for product cards 335px */
  .cardProduct {
    flex: 0 0 335px;
  }

  .cardSlider .imageContainer {
    height: 240px;
  }
  .cardProduct .imageContainer {
    height: 260px;
  }

  .cardTitle {
    font-size: 18px;
    padding: 20px 10px;
  }
}
